.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    min-width: 0;
}

.sidebar {
    background-color: #1e293b;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 240px;
        min-height: 100vh;
        height: 100%;
        position: sticky;
        top: 0;
        align-self: flex-start;
    }
}
