@page "/create-event"
@using Microsoft.Extensions.Caching.Memory
@using Reisevenner.Web.Data

@inject NavigationManager Navigation
@inject IEventStorage Storage

<h1>Lag et nytt oppdrag med @Constants.AppName</h1>

<div style="margin-bottom: 20px;">
    <label for="eventName">Oppdragets navn:</label>
    <input id="eventName" type="text" @bind="eventName" placeholder="F.eks. Toms bursdag" />
</div>

<div style="margin-bottom: 20px;">
    <label for="time">Når:</label>
    <input id="time" type="text" @bind="time" placeholder="F.eks. Lørdag 15. mars kl 18:00" />
</div>

<div style="margin-bottom: 20px;">
    <label for="place">Hvor:</label>
    <input id="place" type="text" @bind="place" placeholder="F.eks. Oslo sentrum" />
</div>

<button @onclick="GoToNewEvent">Lag event!</button>

@code {
    string eventName;
    string time;
    string place;

    void GoToNewEvent()
    {
        // Logic to generate event code and save event details
        // Redirect to the event page with the generated event code

        string eventCode = GenerateEventCode();

        //TODO: Save event json with this code
        var newEvent = new EventModel(eventCode, eventName, time, place, new List<DriverModel>());
        Save(newEvent);
        // Navigate to event/eventcode
        Navigation.NavigateTo($"event/{eventCode}");
    }

    private void Save(EventModel newEvent)
    {
        Storage.Set(newEvent.Code, newEvent);
    }

    private string GenerateEventCode()
    {
        return Guid.NewGuid().ToString("N");
    }
}
