@page "/"
@using Reisevenner.Web.Data

@inject NavigationManager Navigation

<h1>@Constants.AppName</h1>

<p>Lag et oppdrag her for samkjøring til bursdager, idrettsarrangementer og andre turer, sånn at man kan planlegge hvem som reiser sammen.</p>
<p>Sammen gjør vi en innsats for miljøet</p>

<div class="section-block">
    <button @onclick="CreateNewEvent">Lag et ny oppdrag</button>
</div>

<div class="section-block">
    <label for="eventcode">Skriv inn kode for eksisterende oppdrag:</label>
    <input id="eventcode" type="text" placeholder="kode" @bind="eventcode" />
</div>

<button @onclick="JoinExistingEvent">Åpne et oppdrag med kode</button>

@code {
    string eventcode;
    string eventPath => "event/" + eventcode;

    void CreateNewEvent()
    {
        // Navigate to the page for creating a new event
        Navigation.NavigateTo("/create-event");
    }

    void JoinExistingEvent()
    {
        // Navigate to the page for joining an existing event
        Navigation.NavigateTo(eventPath, true);
    }

}
