@page "/notfound"
@using Reisevenner.Web.Data
@inject NavigationManager Navigation

<div style="text-align: center; padding: 2rem;">
    <h1>🚫 Oppdraget ble ikke funnet</h1>
    <p>Oppdraget du leter etter eksisterer ikke eller er ikke tilgjengelig.</p>
    
    <div style="margin: 2rem 0;">
        <p>Dette kan skje hvis:</p>
        <ul style="display: inline-block; text-align: left;">
            <li>Oppdrags-koden er feil skrevet</li>
            <li>Oppdraget er slettet</li>
            <li>Linken er utdatert</li>
        </ul>
    </div>
    
    <div>
        <button @onclick="GoToHome" class="btn btn-primary" style="margin-right: 1rem;">
            🏠 Gå til forsiden
        </button>
    </div>
</div>

@code {
    void GoToHome()
    {
        Navigation.NavigateTo("/");
    }    
}
