<div class="passenger-row" style="margin-bottom: 15px;">
    <div style="margin-bottom: 10px;">
        <label for="passengerName-@PassengerInfo.Id">Navn</label>
        <input id="passengerName-@PassengerInfo.Id" @bind="PassengerInfo.Name" placeholder="Passasjer navn"/>
    </div>
    <div>
        <label for="passengerPhone-@PassengerInfo.Id">Telefon eller kommentar</label>
        <input id="passengerPhone-@PassengerInfo.Id" @bind="PassengerInfo.PhoneOrComment" placeholder="Telefon eller kommentar" />
    </div>
</div>

@code {
    [Parameter]
    public Data.PassengerModel PassengerInfo { get; set; }
}